{% block form_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_label(form, name|capitalize, {'label_attr': {'class': 'col-md-2 col-sm-2 control-label'}}) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-3 col-sm-4">
            {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
{% endspaceless %}
{% endblock form_row %}

{%- block form_widget_simple -%}
{% spaceless %}
    {%- set type = type|default('text') -%}
    {% if type == 'file' %}
    {% if attr.class is defined %}
        {% set class = 'class=""' %}
    {% endif %}

           <input type="{{ type }}" {{ class }} {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>

    {% else %}
        <input onkeyup="processInputs(this.value, this.id)" {#size="3"#} type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endif %}
{% endspaceless %}
{%- endblock form_widget_simple -%}


{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}
    <div class="col-md-offset-1 col-sm-offset-1">
    {{ block('button_widget') }}
    </div>
{%- endblock submit_widget -%}