{% extends 'partner/partner_layout.html.twig' %}

{% block body %}
    <h1>Partner edit</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="row top-buffer">
            <div class="form-group">
                {{ form_label(edit_form.name, 'Name', {'label_attr': {'class': 'col-md-1 col-sm-2 control-label'}}) }}
                <div class="col-md-3 col-sm-4">
                    {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                    {{ form_errors(edit_form.name) }}
            </div>
        </div>
        <div class="row top-buffer">
            <div class="form-group">
                {{ form_label(edit_form.bank, 'Bank', {'label_attr': {'class': 'col-md-1 col-sm-2 control-label'}}) }}
                <div class="col-md-3 col-sm-4">
                    {{ form_widget(edit_form.bank, {'attr': {'class': 'form-control'}}) }}
                </div>
                    {{ form_errors(edit_form.bank) }}
            </div>
        </div>
        <div class="row top-buffer">
            <div class="form-group">
                {{ form_label(edit_form.iban, 'Iban', {'label_attr': {'class': 'col-md-1 col-sm-2 control-label'}}) }}
                <div class="col-md-3 col-sm-4">
                    {{ form_widget(edit_form.iban, {'attr': {'class': 'form-control'}}) }}
                </div>
                    {{ form_errors(edit_form.iban) }}
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-md-4 col-sm-4">
               {{ form_widget(edit_form.submit, { 'label': 'Edit', 'attr': {'class': 'btn btn-warning col-sm-4 col-xs-6'}}) }}
            </div>
        </div>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    <div class="row top-buffer">
        <div class="col-md-4 col-sm-4">
            {{ form_widget(delete_form.submit, { 'label': 'Delete', 'attr': {'class': 'btn btn-danger col-sm-4 col-xs-6'}}) }}
        </div>
    </div>
    {{ form_end(delete_form) }}
<a href="{{ path('partner_index') }}">Back to the list</a>
{% endblock %}


