{% extends 'base.html.twig' %}

{% block submenu %}
<ul class="nav nav-sidebar">
	<li><a href="{{ path('partner_new') }}">Add new</a></li>
	<li><a href="{{ path('partner_index') }}">List</a></li>
	<li><a href="{{ path('partner_edit', { 'id': partner.id }) }}">Edit</a></li>
</ul>
{% endblock %}

{% block body %}
	<h1>Partner</h1>

	<div class="col-lg-4">
		<div class="table-responsive">
			<table class="table table-bordered table-hover record_properties">
				<tbody>
				<tr>
					<th>Id</th>
					<td>{{ partner.id }}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{ partner.name }}</td>
				</tr>
				<tr>
					<th>Bank</th>
					<td>{{ partner.bank }}</td>
				</tr>
				<tr>
					<th>Iban</th>
					<td>{{ partner.iban }}</td>
				</tr>
				<tr>
					<th>Datcre</th>
					<td>{% if partner.datCre %}{{ partner.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
				</tr>
				<tr>
					<th>Datupd</th>
					<td>{% if partner.datUpd %}{{ partner.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
				</tr>
				</tbody>
			</table>
		</div>

		{{ form_start(delete_form) }}
		<div class="row top-buffer">
			<div class="col-md-4 col-sm-4">
				{{ form_widget(delete_form.submit, { 'label': 'Delete', 'attr': {'class': 'btn btn-danger'}}) }}
			</div>
		</div>
		{{ form_end(delete_form) }}
	</div>

{% endblock %}