{% extends 'document/document_layout.html.twig' %}

{% block body %}
    <h1>DocStatus list</h1>

<div class="table-responsive">
    <table class="table table-hover records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Datcre</th>
                <th>Datupd</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for docStatus in docStatuses %}
            <tr>
                <td><a href="{{ path('docstatus_show', { 'id': docStatus.id }) }}">{{ docStatus.id }}</a></td>
                <td>{{ docStatus.name }}</td>
                <td>{% if docStatus.datCre %}{{ docStatus.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if docStatus.datUpd %}{{ docStatus.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('docstatus_show', { 'id': docStatus.id }) }}">
                        <span class="glyphicon glyphicon-share"></span> Show
                    </a>

                    <a class="btn btn-sm btn-default" href="{{ path('docstatus_edit', { 'id': docStatus.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('docstatus_new') }}" class="btn btn-success">Create a new entry</a>
</div>

{% endblock %}
