{% extends 'document/document_layout.html.twig' %}

{% block body %}
    <h1>DocStatus</h1>

<div class="col-lg-4">
    <div class="table-responsive">
        <table class="table table-bordered table-hover record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ docStatus.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ docStatus.name }}</td>
            </tr>
            <tr>
                <th>Datcre</th>
                <td>{% if docStatus.datCre %}{{ docStatus.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datupd</th>
                <td>{% if docStatus.datUpd %}{{ docStatus.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
</div>
        {{ form_start(delete_form) }}
        <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-2">
            {{ form_widget(delete_form.submit, { 'label': 'Delete', 'attr': {'class': 'btn btn-sm btn-danger'}}) }}
        </div>
        {{ form_end(delete_form) }}

    <div class="row top-buffer">
        <a href="{{ path('docstatus_index') }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to the list</a>
    </div>
</div>
{% endblock %}
