{% extends 'base.html.twig' %}
{% block submenu %}
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('unitmeasure_new') }}">Add new</a>
        </li>        
        <li>
            <a href="{{ path('unitmeasure_index') }}">List</a>
        </li>
        <li>
            <a href="{{ path('unitmeasure_edit', { 'id': unitMeasure.id }) }}">Edit</a>
        </li>

    </ul>
{% endblock %}

{% block body %}
    <h1>Unit Measure</h1>

<div class="col-lg-4">
    <div class="table-responsive">   
        <table class="table table-bordered table-hover record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ unitMeasure.id }}</td>
            </tr>
            <tr>
                <th>Unit measure value</th>
                <td>{{ unitMeasure.name }}</td>
            </tr>
            <tr>
                <th>Creation date</th>
                <td>{% if unitMeasure.datCre %}{{ unitMeasure.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Update date</th>
                <td>{% if unitMeasure.datUpd %}{{ unitMeasure.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="form-group">
        {{ form_start(delete_form) }}
        <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-2">
           {{ form_widget(delete_form.submit, { 'label': 'Delete', 'attr': {'class': 'btn btn-sm btn-danger'}}) }}
        </div>
        {{ form_end(delete_form) }}
    </div>        
</div>            

{% endblock %}
