{% extends 'base.html.twig' %}
{% block submenu %}
    <ul class="nav nav-sidebar">
<<<<<<< HEAD
        <li><a href="{{ path('unitmeasure_new') }}">Add new</a></li>
        <li><a href="{{ path('unitmeasure_index') }}">List</a></li>
        <li><a href="{{ path('unitmeasure_edit', { 'id': unitMeasure.id }) }}">Edit</a></li>
=======
        <li>
            <a href="{{ path('unitmeasure_new') }}">Add new</a>
        </li>        
        <li>
            <a href="{{ path('unitmeasure_index') }}">List</a>
        </li>
        <li>
            <a href="{{ path('unitmeasure_edit', { 'id': unitMeasure.id }) }}">Edit</a>
        </li>

>>>>>>> bf4ca8984c468291ebb783d7b8f8da54eb41aead
    </ul>
{% endblock %}

{% block body %}
<<<<<<< HEAD
    <h1>UnitMeasure</h1>

<div class="col-lg-4">
    <div class="table-responsive">
        <table class="table table-bordered table-hover record_properties">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ unitMeasure.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ unitMeasure.name }}</td>
                </tr>
                <tr>
                    <th>Datcre</th>
                    <td>{% if unitMeasure.datCre %}{{ unitMeasure.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Datupd</th>
                    <td>{% if unitMeasure.datUpd %}{{ unitMeasure.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {{ form_start(delete_form) }}
    <div class="row top-buffer">
        <div class="col-md-4 col-sm-4">
            {{ form_widget(delete_form.submit, { 'label': 'Delete', 'attr': {'class': 'btn btn-danger'}}) }}
        </div>
    </div>
    {{ form_end(delete_form) }}
</div>
=======
    <h1>Unit Measure</h1>

<div class="col-lg-4">
    <div class="table-responsive">   
        <table class="table table-bordered table-hover record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ unitMeasure.id }}</td>
            </tr>
            <tr>
                <th>Unit measure value</th>
                <td>{{ unitMeasure.name }}</td>
            </tr>
            <tr>
                <th>Creation date</th>
                <td>{% if unitMeasure.datCre %}{{ unitMeasure.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Update date</th>
                <td>{% if unitMeasure.datUpd %}{{ unitMeasure.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="form-group">
        {{ form_start(delete_form) }}
        <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-2">
           {{ form_widget(delete_form.submit, { 'label': 'Delete', 'attr': {'class': 'btn btn-sm btn-danger'}}) }}
        </div>
        {{ form_end(delete_form) }}
    </div>        
</div>            

>>>>>>> bf4ca8984c468291ebb783d7b8f8da54eb41aead
{% endblock %}
