{% extends 'base.html.twig' %}
{% block submenu %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('csvfiles_index') }}">List</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>CsvFiles creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('csvfiles_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
