{% extends 'product/product_layout.html.twig' %}
{% form_theme edit_form ':Form:fields.html.twig' %}
{% form_theme delete_form ':Form:fields.html.twig' %}

{% block submenu %}
    {{ parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('category_new') }}">Add new</a></li>
        <li><a href="{{ path('category_index') }}">List</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>Category Edit</h1>

    {{ form_start(edit_form, {'attr': {'role':'form', 'class': 'form-horizontal'}}) }}

            {{ form_widget(edit_form) }}

    {{ form_end(edit_form) }}

    {{ form_start(delete_form, {'attr': {'role':'form', 'class': 'form-horizontal'}}) }}

           {{ form_widget(delete_form) }}

    {{ form_end(delete_form) }}

{% endblock %}
