{% extends 'product/product_layout.html.twig' %}

{% block body %}
    <h1>Feature Name Creation</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    
   <div class="form-group">
        {{ form_label(form.fnValue, 'Feature name', {'label_attr': {'class': 'col-md-1 col-sm-2 control-label'}}) }}
       
        <div class="col-md-3 col-sm-4">
            {{ form_widget(form.fnValue, {'attr': {'class': 'form-control'}}) }}
        </div>
         {{ form_errors(form.fnValue) }}
    </div>  
   <div class="form-group">
        {{ form_label(form.agree, 'Doresc sa fiu anuntat cand se modifica aceasta entitate?', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
       
        <div class="col-md-1">
            {{ form_widget(form.agree, {'attr': {'class': 'form-control'}}) }}
        </div>
         {{ form_errors(form.agree) }}
    </div>       
    <div class="form-group">
        <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-2">
            {{ form_widget(form.submit, { 'label': 'Add', 'attr': {'class': 'btn btn-sm btn-success'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
    <a href="{{ path('featurename_index') }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to the list</a>
{% endblock %}
