{% extends 'base.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block submenu %}
    {{ parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('feature_new') }}">{% trans %}Add new{% endtrans %}</a></li>
        <li><a href="{{ path('feature_index') }}">{% trans %}List{% endtrans %}</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>Feature list</h1>

<div class="table-responsive">
    <table class="table table-hover records_list">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>EN</th>
                <th>RO</th>
                <th>BG</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for feature in features %}
            <tr>
                <td><a href="{{ path('feature_show', { 'id': feature.id }) }}">{{ feature.id }}</a></td>
                <td>{{ feature.en }}</td>
                <td>{{ feature.ro }}</td>
                <td>{{ feature.bg }}</td>
                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('feature_show', { 'id': feature.id }) }}">
                        <span class="glyphicon glyphicon-share"></span> Show
                    </a>

                    <a class="btn btn-sm btn-default" href="{{ path('feature_edit', { 'id': feature.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}