{% extends 'base.html.twig' %}

{% block submenu %}
    {{ parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('feature_new') }}">Add new</a></li>
        <li><a href="{{ path('feature_index') }}">List</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>Feature</h1>

<div class="col-lg-4">
    <div class="table-responsive">
        <table class="table table-bordered table-hover record_properties">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ feature.id }}</td>
                </tr>
                <tr>
                    <th>Value</th>
                    <td>{{ feature.value }}</td>
                </tr>

            </tbody>
        </table>
    </div>
            {{ form_start(delete_form, {'attr': {'role':'form', 'class':'form-horizontal'}}) }}
                {{ form_widget(delete_form) }}
            {{ form_end(delete_form) }}

</div>


{% endblock %}
