{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block submenu %}
    {{ parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('fos_user_registration_register') }}">{% trans %}Add new{% endtrans %}</a></li>
        <li><a href="{{ path('admin_index') }}">{% trans %}List{% endtrans %}</a></li>
    </ul>
{% endblock %}
{% block body %}

    <h1>Users list</h1>
<div class="table-responsive">
    <table class="table table-hover records_list">
        <thead>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('admin_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                {% for role in user.roles %}
                    {{ role }}
                 {% endfor %}  
                 </td>
                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('admin_show', { 'id': user.id }) }}">
                        <span class="glyphicon glyphicon-share"></span> Show
                    </a>
                    <a class="btn btn-sm btn-default" href="{{ path('admin_edit', { 'id': user.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}

