{% extends 'admin_layout.html.twig' %}
{% form_theme delete_form ':Form:fields.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block body %}

<h1>Show user</h1>
<div class="col-lg-6">
    <div class="table-responsive">
        <table class="table table-bordered table-hover record_properties">
            <tbody>
                <tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>{% trans %}User name{% endtrans %}</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Email{% endtrans %}</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Role{% endtrans %}</th>
                    <td>
                        {% for role in user.roles %}
                            {{ role }}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    {{ form_start(delete_form, {'attr': {'role':'form', 'class':'form-horizontal'}}) }}

        {{ form_widget(delete_form) }}

    {{ form_end(delete_form) }}

</div>
{% endblock %}