{% extends 'base.html.twig' %}
{% form_theme edit_form ':Form:fields.html.twig' %}
{% block submenu %}
<ul class="nav nav-sidebar">
    <li><a href="{{ path('address_new') }}">Add new</a></li>
    <li><a href="{{ path('address_index') }}">List</a></li>
</ul>
{% endblock %}

{% block body %}
    <h1>Address edit</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(edit_form) }}
 
    {{ form_end(delete_form) }}
{% endblock %}
