{% extends 'base.html.twig' %}
{% block submenu %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('address_index') }}">List</a></li>
        <li><a href="{{ path('address_edit', { 'id': address.id }) }}">Edit</a></li>
    </ul>
{% endblock %}

{% block body %}
    <h1>Address</h1>

    <div class="col-lg-4">
        <div class="table-responsive">
            <table class="table table-bordered table-hover record_properties">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ address.id }}</td>
                </tr>
                <tr>
                    <th>Alias</th>
                    <td>{{ address.alias }}</td>
                </tr>
                <tr>
                    <th>Street</th>
                    <td>{{ address.street }}</td>
                </tr>
                <tr>
                    <th>No</th>
                    <td>{{ address.no }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ address.city }}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>{{ address.country }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ address.email }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ address.phone }}</td>
                </tr>
                <tr>
                    <th>Datcre</th>
                    <td>{% if address.datCre %}{{ address.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Datupd</th>
                    <td>{% if address.datUpd %}{{ address.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="form-group">
            {{ form_start(delete_form) }}
            <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-2">
                {{ form_widget(delete_form.submit, { 'label': 'Delete', 'attr': {'class': 'btn btn-sm btn-danger'}}) }}
            </div>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}