{% extends 'document/document_layout.html.twig' %}
{% form_theme edit_form ':Form:fields.html.twig' %}

{% block submenu %}
    {{ parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('paymenttype_new') }}">Add new</a></li>
        <li><a href="{{ path('paymenttype_index') }}">List</a></li>
        <li><a href="{{ path('paymenttype_index', {'id':paymenttype.id}) }}">Edit</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>PaymentType Edit</h1>
    {{ form_start(edit_form, {'attr': {'role':'form' ,'class': 'form-horizontal'}}) }}

            {{ form_widget(edit_form) }}

    {{ form_end(edit_form) }}

{% endblock %}
