{% extends 'document/document_layout.html.twig' %}

{% block submenu %}
    {{ parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('paymenttype_new') }}">Add new</a></li>
        <li><a href="{{ path('paymenttype_index') }}">List</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>List of PaymentType</h1>

    <div class="table-responsive">
        <table class="table table-hover records_list">
            <thead>
            <tr>
                <th>Id</th>
                <th>Payment Type</th>
                <th>Creation date</th>
                <th>Update date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for paymenttype in paymenttypes %}
                <tr>
                    <td><a href="{{ path('paymenttype_show', { 'id': paymenttype.id }) }}">{{ paymenttype.id }}</a></td>
                    <td>{{ paymenttype.name }}</td>
                    <td>{% if paymenttype.datCre %}{{ paymenttype.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if paymenttype.datUpd %}{{ paymenttype.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <a class="btn btn-sm btn-info" href="{{ path('paymenttype_show', { 'id': paymenttype.id }) }}">
                            <span class="glyphicon glyphicon-share"></span> Show
                        </a>
                        <a class="btn btn-sm btn-default" href="{{ path('paymenttype_edit', { 'id': paymenttype.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
