{% extends 'document/document_layout.html.twig' %}
{% form_theme delete_form ':Form:fields.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block submenu %}
    {{ parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('paymenttype_new') }}">{% trans %}Add new{% endtrans %}</a></li>
        <li><a href="{{ path('paymenttype_index') }}">{% trans %}List{% endtrans %}</a></li>
        <li><a href="{{ path('paymenttype_edit', {'id':paymenttype.id}) }}">{% trans %}Edit{% endtrans %}</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>PaymentType</h1>

    <div class="col-lg-4">
        <div class="table-responsive">
            <table class="table table-bordered table-hover record_properties">
                <tbody>
                <tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <td>{{ paymenttype.id }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Payment type{% endtrans %}</th>
                    <td>{{ paymenttype.name }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Creation date{% endtrans %}</th>
                    <td>{% if paymenttype.datCre %}{{ paymenttype.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>{% trans %}Update date{% endtrans %}</th>
                    <td>{% if paymenttype.datUpd %}{{ paymenttype.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>


            {{ form_start(delete_form, {'attr': {'role':'form' ,'class': 'form-horizontal'}}) }}

                {{ form_widget(delete_form) }}

            {{ form_end(delete_form) }}

    </div>


{% endblock %}
