{% extends 'base.html.twig' %}
{% block submenu %}
    <ul class="nav nav-sidebar">
<<<<<<< HEAD
        <li><a href="{{ path('warehouse_new') }}">Add new</a></li>
        <li><a href="{{ path('warehouse_index') }}">List</a></li>
    </ul>
{% endblock %}

{% block body %}
    <h1>Warehouse list</h1>
=======
        <li>
            <a href="{{ path('warehouse_new') }}">Add new</a>
        </li>        
        <li>
            <a href="{{ path('warehouse_index') }}">List</a>
        </li>

    </ul>
{% endblock %}
{% block body %}
    <h1>List of warehouses</h1>
>>>>>>> bf4ca8984c468291ebb783d7b8f8da54eb41aead

<div class="table-responsive">
    <table class="table table-hover records_list">
        <thead>
            <tr>
                <th>Id</th>
<<<<<<< HEAD
                <th>Name</th>
=======
                <th>Warehouse name</th>
                <th>Warehouse address</th>
>>>>>>> bf4ca8984c468291ebb783d7b8f8da54eb41aead
                <th>Datcre</th>
                <th>Datupd</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for warehouse in warehouses %}
            <tr>
                <td><a href="{{ path('warehouse_show', { 'id': warehouse.id }) }}">{{ warehouse.id }}</a></td>
                <td>{{ warehouse.name }}</td>
<<<<<<< HEAD
=======
                <td>{{ warehouse.address }}</td>
>>>>>>> bf4ca8984c468291ebb783d7b8f8da54eb41aead
                <td>{% if warehouse.datCre %}{{ warehouse.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if warehouse.datUpd %}{{ warehouse.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('warehouse_show', { 'id': warehouse.id }) }}">
<<<<<<< HEAD
                        <span class="glyphicon glyphicon-share"></span> Show
                    </a>

                    <a class="btn btn-sm btn-default" href="{{ path('warehouse_edit', { 'id': warehouse.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>Edit
=======
                        <span class="glyphicon glyphicon-share"></span> Show 
                    </a>
                    <a class="btn btn-sm btn-default" href="{{ path('warehouse_edit', { 'id': warehouse.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span> Edit                                
>>>>>>> bf4ca8984c468291ebb783d7b8f8da54eb41aead
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<<<<<<< HEAD

=======
>>>>>>> bf4ca8984c468291ebb783d7b8f8da54eb41aead
{% endblock %}
