{% extends 'base.html.twig' %}
<<<<<<< HEAD
{% block submenu %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('warehouse_new') }}">Add new</a></li>
        <li><a href="{{ path('warehouse_index') }}">List</a></li>
        <li><a href="{{ path('warehouse_edit', { 'id': warehouse.id }) }}">Edit</a></li>


{% block body %}

    <h1>Warehouse</h1>

<div class="col-lg-4">
    <div class="table-responsive">
        <table class="table table-bordered table-hover record_properties">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ warehouse.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ warehouse.name }}</td>
                </tr>
                <tr>
                    <th>Datcre</th>
                    <td>{% if warehouse.datCre %}{{ warehouse.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Datupd</th>
                    <td>{% if warehouse.datUpd %}{{ warehouse.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>
        {{ form_start(delete_form) }}
        <div class="row top-buffer">
            <div class="col-md-4 col-sm-4">
                {{ form_widget(delete_form.submit, { 'label': 'Delete', 'attr': {'class': 'btn btn-danger'}}) }}
            </div>
        </div>
        {{ form_end(delete_form) }}
</div>

    <h1>Warehouse Name</h1>

<div class="col-lg-4">
    <div class="table-responsive">   
        <table class="table table-bordered table-hover record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ warehouse.id }}</td>
            </tr>
            <tr>
                <th>Warehouse name</th>
                <td>{{ warehouse.name }}</td>
            </tr>
            <tr>
                <th>Warehouse address</th>
                <td>{{ warehouse.address }}</td>
            </tr>
            <tr>
                <th>Creation date</th>
                <td>{% if warehouse.datCre %}{{ warehouse.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Update date</th>
                <td>{% if warehouse.datUpd %}{{ warehouse.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="form-group">
        {{ form_start(delete_form) }}
        <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-2">
           {{ form_widget(delete_form.submit, { 'label': 'Delete', 'attr': {'class': 'btn btn-sm btn-danger'}}) }}
        </div>
        {{ form_end(delete_form) }}
    </div>        
</div>            


{% endblock %}
