{% extends 'base.html.twig' %}

{% block body %}
    <h1>Document list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Docnumber</th>
                <th>Datcre</th>
                <th>Datupd</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td><a href="{{ path('document_show', { 'id': document.id }) }}">{{ document.id }}</a></td>
                <td>{{ document.docNumber }}</td>
                <td>{% if document.datCre %}{{ document.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if document.datUpd %}{{ document.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('document_show', { 'id': document.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('document_edit', { 'id': document.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('document_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
