{% extends 'document/document_layout.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block submenu %}
    {{ parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('document_new') }}">{% trans %}Add new{% endtrans %}</a></li>
        <li><a href="{{ path('document_index') }}">{% trans %}List{% endtrans %}</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>Document list</h1>
        <div class="table-responsive">
            <table class="table table-hover records_list">
                <thead>
                    <tr>
                        <th>{% trans %}Id{% endtrans %}</th>
                        <th>{% trans %}Document number{% endtrans %}</th>
                        <th>{% trans %}Datcre{% endtrans %}</th>
                        <th>{% trans %}Datupd{% endtrans %}</th>
                        <th>{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for document in documents %}
                    <tr>
                        <td><a href="{{ path('document_show', { 'id': document.id }) }}">{{ document.id }}</a></td>
                        <td>{{ document.docNumber }}</td>
                        <td>{% if document.datCre %}{{ document.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if document.datUpd %}{{ document.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <a class="btn btn-sm btn-info" href="{{ path('document_show', { 'id': document.id }) }}">
                                <span class="glyphicon glyphicon-share"></span> Show</a>                               
                            <a class="btn btn-sm btn-default" href="{{ path('document_edit', { 'id': document.id }) }}">
                                <span class="glyphicon glyphicon-edit"></span> Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>

{% endblock %}
