{% extends 'document/document_layout.html.twig' %}
{% form_theme form ':Form:fields.html.twig' %}

{% block submenu %}
    {{ parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('document_new') }}">Add new</a></li>
        <li><a href="{{ path('document_index') }}">List</a></li>
    </ul>
{% endblock %}
{% block body %}

    <h1>Document creation</h1>

    {{ form_start(form, {'attr': {'role':'form', 'class': 'form-horizontal'}}) }}

            {{ form_widget(form) }}

        <h3>Document Lines</h3>
        <ul class="documentLines" data-prototype="{{ form_widget(form.documentLines.vars.prototype)|e }}">
            {# iterate over each existing tag and render its only field: name #}
            {% for doc in form.documentLines %}
                <li>{{ form_widget(doc) }}</li>
            {% endfor %}
        </ul>

            {{ form_widget(form.submit) }}

    {{ form_end(form) }}

    {# ... #}

{% endblock %}


