{% extends 'document/document_layout.html.twig' %}
{% form_theme form ':Form:fields.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block submenu %}
    {{ parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('document_new') }}">{% trans %}Add new{% endtrans %}</a></li>
        <li><a href="{{ path('document_index') }}">{% trans %}List{% endtrans %}</a></li>
    </ul>
{% endblock %}
{% block body %}


    <h1>Document creation</h1>

    {{ form_start(form, {'attr': {'role':'form', 'class': 'form-horizontal'}}) }}

    <div class="form-group">
        {{ form_label(form.docNumber, 'Document number', {'label_attr': {'class': 'col-md-2 col-sm-2 control-label'}}) }}

        <div class="col-md-3 col-sm-4">
            {{ form_widget(form.docNumber, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_errors(form.docNumber) }}
    </div>
    <div class="form-group">
        {{ form_label(form.partner, 'Partner', {'label_attr': {'class': 'col-md-2 col-sm-2 control-label'}}) }}

        <div class="col-md-3 col-sm-4">
            {{ form_widget(form.partner, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_errors(form.partner) }}
    </div>
    <div class="form-group">
        {{ form_label(form.docType, 'Document type', {'label_attr': {'class': 'col-md-2 col-sm-2 control-label'}}) }}

        <div class="col-md-3 col-sm-4">
            {{ form_widget(form.docType, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_errors(form.docType) }}
    </div>
    <div class="form-group">
        {{ form_label(form.paymentType, 'Payment type', {'label_attr': {'class': 'col-md-2 col-sm-2 control-label'}}) }}

        <div class="col-md-3 col-sm-4">
            {{ form_widget(form.paymentType, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_errors(form.paymentType) }}
    </div>
    <div class="form-group">
        {{ form_label(form.docStatus, 'Document status', {'label_attr': {'class': 'col-md-2 col-sm-2 control-label'}}) }}

        <div class="col-md-3 col-sm-4">
            {{ form_widget(form.docStatus, {'attr': {'class': 'form-control'}}) }}
        </div>
<<<<<<< HEAD
         {{ form_errors(form.docStatus) }}
    </div> 
   
    <div class="row">
        <div class="col-lg-4">
=======
        {{ form_errors(form.docStatus) }}
    </div>

    <div class="row">
        <div class="col-lg-12">
>>>>>>> fd2f5087e64739813bfd0d1abce55183b408d6a1
            <div class="form-group">
                <div class="wrap-playvideos">
                    <h3>Document Lines</h3>
                    <ul class="documentLines" data-prototype="{{ form_widget(form.documentLines.vars.prototype)|e }}">
                        {% for documentLine in form.documentLines %}
                            <li>{{ form_widget(documentLine) }}</li>
                        {% endfor %}
<<<<<<< HEAD
                    </ul>         
                </div>
            </div>
        </div> 
    </div>  
       <div class="row">
            <div class="col-lg-4">                 
                <div class="form-group">
                            <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-2">
                                {{ form_widget(form.submit, { 'label': 'Add', 'attr': {'class': 'btn btn-sm btn-success'}}) }}
                            </div>
                </div>                       
            </div>
       </div>
    {{ form_end(form) }}
<a href="{{ path('document_index') }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to the list</a>
=======
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-2">
                    {{ form_widget(form.submit) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form.documentLines) }}
    {{ form_end(form) }}

>>>>>>> fd2f5087e64739813bfd0d1abce55183b408d6a1
    {# ... #}

{% endblock %}


