{% extends 'document/document_layout.html.twig' %}
{% form_theme delete_form ':Form:fields.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block submenu %}
    {{ parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('document_new') }}">{% trans %}Add new{% endtrans %}</a></li>
        <li><a href="{{ path('document_index') }}">{% trans %}List{% endtrans %}</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>Document</h1>
<div class="col-lg-5">
    <div class="table-responsive">
        <table class="table table-bordered table-hover record_properties">
            <tbody>
                <tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <td>{{ document.id }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Document number{% endtrans %}</th>
                    <td>{{ document.docNumber }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Quantity{% endtrans %}</th>
                    {% for doc in document.documentLines %}
                    <td>{{ doc.quantity }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>{% trans %}Sale price{% endtrans %}</th>
                    {% for doc in document.documentLines %}
                        <td>{{ doc.salePrice }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>{% trans %}Product{% endtrans %}</th>
                    {% for doc in document.documentLines %}
                        <td>{{ doc.product }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>{% trans %}Vat rate{% endtrans %}</th>
                    {% for doc in document.documentLines %}
                        <td>{{ doc.vatRate }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>{% trans %}Datcre{% endtrans %}</th>
                    <td>{% if document.datCre %}{{ document.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>{% trans %}Datupd{% endtrans %}</th>
                    <td>{% if document.datUpd %}{{ document.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {{ form_start(delete_form, {'attr': {'role':'form', 'class':'form-horizontal'}}) }}
        {{ form_widget(delete_form) }}
    {{ form_end(delete_form) }}

</div>
{% endblock %}
