{% extends 'base.html.twig' %}
{% form_theme form ':Form:fields.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block submenu %}
    {{ parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('documentline_new') }}">{% trans %}Add new{% endtrans %}</a></li>
        <li><a href="{{ path('documentline_index') }}">{% trans %}List{% endtrans %}</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>DocumentLine creation</h1>

    {{ form_start(form, {'attr': {'role':'form', 'class':'form-horizontal'}}) }}

        {{ form_widget(form) }}

    {{ form_end(form) }}


{% endblock %}
