{% extends 'base.html.twig' %}
{% form_theme delete_form ':Form:fields.html.twig' %}

{% block submenu %}
    {{ parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('documentline_new') }}">Add new</a></li>
        <li><a href="{{ path('documentline_index') }}">List</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>DocumentLine</h1>

<div class="col-lg-4">
    <div class="table-responsive">
        <table class="table table-bordered table-hover record_properties">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ documentLine.id }}</td>
                </tr>
                <tr>
                    <th>Quantity</th>
                    <td>{{ documentLine.quantity }}</td>
                </tr>
                <tr>
                    <th>Saleprice</th>
                    <td>{{ documentLine.salePrice }}</td>
                </tr>
                <tr>
                    <th>Datcre</th>
                    <td>{% if documentLine.datCre %}{{ documentLine.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Datupd</th>
                    <td>{% if documentLine.datUpd %}{{ documentLine.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>

            {{ form_start(delete_form, {'attr': {'role':'form', 'class':'form-horizontal'}}) }}
                {{ form_widget(delete_form) }}
            {{ form_end(delete_form) }}

</div>
{% endblock %}
