{% extends 'productimage/productimage_layout.html.twig' %}

{% block submenu %}
    {{ parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('productimage_new') }}">Add new</a></li>
        <li><a href="{{ path('productimage_index') }}">List</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>Product image list</h1>

<div class="table-responsive">
    <table class="table table-hover records_list">
        <thead>
            <tr>
                {% for column in columns %}
                <th>{{ column|capitalize }}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for productImage in productImages %}
            <tr>
                <td><a href="{{ path('productimage_show', { 'id': productImage.id }) }}">{{ productImage.id }}</a></td>
                <td>{{ productImage.name }}</td>
                <td>{{ productImage.path }}</td>
                <td>{% if productImage.datCre %}{{ productImage.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if productImage.datUpd %}{{ productImage.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('productimage_show', { 'id': productImage.id }) }}">
                        <span class="glyphicon glyphicon-share"></span> Show
                    </a>

                    <a class="btn btn-sm btn-default" href="{{ path('productimage_edit', { 'id': productImage.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
