{% extends 'productimage/productimage_layout.html.twig' %}
{% form_theme form ':Form:fields.html.twig' %}

{% block submenu %}
    {{  parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('productimage_new') }}">Add new</a></li>
        <li><a href="{{ path('productimage_index') }}">List</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>Product image creation</h1>

    {{ form_start(form, { 'attr': { 'role':'form', 'class':'form-horizontal' }}) }}

        {{ form_widget(form) }}

    {{ form_end(form) }}


{% endblock %}
