{% extends 'productimage/productimage_layout.html.twig' %}

{% block submenu %}
    {{  parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('productimage_new') }}">Add new</a></li>
        <li><a href="{{ path('productimage_index') }}">List</a></li>
        <li><a href="{{ path('productimage_edit', { 'id':productImage.id }) }}">Edit</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>ProductImage</h1>

<div class="col-lg-4">
    <div class="table-responsive">
        <table class="table table-bordered table-hover record_properties">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ productImage.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ productImage.name }}</td>
                </tr>
                <tr>
                    <th>Path</th>
                    <td>{{ productImage.path }}</td>
                </tr>
                <tr>
                    <th>Datcre</th>
                    <td>{% if productImage.datCre %}{{ productImage.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Datupd</th>
                    <td>{% if productImage.datUpd %}{{ productImage.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>


            {{ form_start(delete_form) }}
                {{ form_widget(delete_form) }}
            {{ form_end(delete_form) }}
</div>

{% endblock %}
