{% extends 'productimage/productimage_layout.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block submenu %}
    {{  parent() }}
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('productimage_new') }}">{% trans %}Add new{% endtrans %}</a></li>
        <li><a href="{{ path('productimage_index') }}">{% trans %}List{% endtrans %}</a></li>
        <li><a href="{{ path('productimage_edit', { 'id':productImage.id }) }}">{% trans %}Edit{% endtrans %}</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>ProductImage</h1>

<div class="col-lg-4">
    <div class="table-responsive">
        <table class="table table-bordered table-hover record_properties">
            <tbody>
                <tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <td>{{ productImage.id }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <td>{{ productImage.name }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Path{% endtrans %}</th>
                    <td>{{ productImage.path }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Datcre{% endtrans %}</th>
                    <td>{% if productImage.datCre %}{{ productImage.datCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>{% trans %}Datupd{% endtrans %}</th>
                    <td>{% if productImage.datUpd %}{{ productImage.datUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {{ form_start(delete_form, {'attr': {'role':'form', 'class':'form-horizontal'}}) }}
        {{ form_widget(delete_form) }}
    {{ form_end(delete_form) }}

</div>

{% endblock %}
